@charset "ISO-8859-1";

body {
	background-color: #76b852;
}

h1 {
	color: #ff9000;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 50px;
}

table {
  	box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
  	padding: 50px;
  	background-color: #FFFFFF;
}

.error {
	font-family: "Roboto", sans-serif;
	color: #FF0000;
}

.message {
	font-family: "Roboto", sans-serif;
	color: #000000;
}

input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type=submit] {
  font-family: "Roboto", sans-serif;
  background: #ff9000;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

p {
	color: #b3b3b3;
}

a {
	color: #4CAF50;
}